node_modules/
# Ignore log files
*.log

# Ignore coverage output
coverage/

# Ignore VSCode settings
.vscode/

# Ignore build artifacts
dist/
tmp/
build/

# Ignore environment variables
.env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local