:root {
  max-width: 90vw;
  max-height: 100vh;
  margin: 0 auto;
  padding: 0 auto;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .header-button {
    @apply  bg-white px-4 py-2 text-black  rounded
  }
}